<div class="backdrop">
    <div class="modal-content">
        

            <div class="miniHeader">
                <h1>Add Modal </h1>
                <i class="fas fa-times fa-3x" style="color:crimson" (click)="router.navigate(['/users']);"></i>
            </div>
            
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" >

            <!-- Value : {{ addForm.value | json}} -->

            <hr>

            <mat-form-field appearance="outline">
                <mat-label>Username: </mat-label>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="addForm.invalid && username?.touched">
                    <span class="errorMessage">Your username is required! </span>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline">
                <mat-label>Email: </mat-label>
                <input matInput placeholder="Email" formControlName="email">

                <mat-error *ngIf="addForm.invalid && email?.touched">
                    <span class="errorMessage">Your email does not look right! </span>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline">
                <mat-label>Full name: </mat-label>
                <input matInput placeholder="Full name" formControlName="fullName">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline">
                <mat-label>Password: </mat-label>
                <input matInput placeholder="Password" formControlName="password">

                <mat-hint>Must have one letter and one number.</mat-hint>
                <mat-error *ngIf="addForm.invalid && password?.touched">
                    <span class="errorMessage">Your password seems off... </span>
                </mat-error>

            </mat-form-field>

            <br>

            <h2>Please select your traits: </h2>

            <div formGroupName="traits">

            <mat-checkbox indeterminate="false" color="primary" formControlName="focused" >Focused</mat-checkbox>
            <br>
            <mat-checkbox indeterminate="false" color="primary" formControlName="caring">Caring</mat-checkbox>
            <br>
            <mat-checkbox indeterminate="false" color="primary" formControlName="perfectionist" >Perfectionist</mat-checkbox>
            <br>
            <mat-checkbox indeterminate="false" color="primary" formControlName="courageous">Courageous</mat-checkbox>
            </div>
            <br>

            <h2>Gender: </h2>
            
            <mat-radio-group formControlName="gender">
                <mat-radio-button value="MALE">Male</mat-radio-button>
                <mat-radio-button value="FEMALE">Female</mat-radio-button>
                <mat-radio-button value="APACHE_HELICOPTER">Apache Helicopter</mat-radio-button>
            </mat-radio-group>
            <br>


            <button mat-raised-button color="primary" type="submit" [disabled]="!addForm.valid">Submit</button>
        </form>
        </div>
    </div>
