<div class="container">
   <div class="miniheader">
      <i class="fas fa-user fa-4x"></i>
      <a [routerLink]="['/details', user.id]"><h1>{{ user.fullName }}</h1></a>
   </div>

    <mat-divider></mat-divider>
    <div class="lilCel">
      <h4>Username: </h4>
      <span>{{ user.username }}</span>
    </div>
    
    <mat-divider></mat-divider>

    <div class="lilCel">
      <h4>Email: </h4>
      <span>{{ user.email }}</span>
    </div>
    
    <mat-divider></mat-divider>

    <div class="lilCel">
      <h4>Password: </h4>
      <span>{{ user.password }}</span>
    </div>

    <mat-divider></mat-divider>

    <div class="lilCel">
      <h4>Traits: </h4><span>{{ user.traits }}</span>

      <mat-divider></mat-divider>  
    </div>

    <div class="lilCel">
      <h4>Gender: </h4><span>{{ user.gender }}</span>

      

      <mat-divider></mat-divider>  
    </div>
  
    <br>

   <div class="forButtons">
      <button class="btn" (click)="editButtonClicked()">Edit</button>
      <button class="btn" (click)="deleteButtonClicked()" style="background-color: crimson;">Delete</button>
   </div>
</div>