
<app-header 
    (onAddButtonClicked)="toggleAddModal()">
</app-header>

<app-user-card *ngFor="let user of users"
             [user]="user"
             (editModalTrigger)="toggleEditModal(user)"
             (deleteModalTrigger)="toggleDeleteModal(user)"
></app-user-card>

<div>
    <app-editmodal *ngIf="showingEditModal"
                    (onCloseEditModal)="closeEditModal()"
                    
     ></app-editmodal>
</div>

<div>
    <app-deletemodal *ngIf="showingDeleteModal"
                    [toDeleteUser]="toDeleteUser"
                    (onDeleteButton)="closeDeleteModal()"
                    (what)="performDeleteRequest($event)"
    ></app-deletemodal>
</div>

<div>
    <app-addmodal *ngIf="showingAddModal"
                (onCloseAdd)="toggleAddModal()"
    >
    </app-addmodal>

</div>
