<div class="backdrop">
    <div class="modal-content">
        

            <div class="miniHeader">
                <h1>Edit Modal </h1>
                <i class="fas fa-times fa-3x" style="color:crimson" (click)="router.navigate(['/users'])"></i>
            </div>
            
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >

            <!-- Value : {{ editForm.value | json}} -->

            <hr>

            <mat-form-field appearance="outline">
                <mat-label>Username: </mat-label>
                <input matInput placeholder="{{ myUser.username }}" formControlName="username">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline">
                <mat-label>Email: </mat-label>
                <input matInput placeholder="{{ myUser.email }}" formControlName="email">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline">
                <mat-label>Full name: </mat-label>
                <input matInput placeholder="{{ myUser.fullName }}" formControlName="fullName">
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline">
                <mat-label>Password: </mat-label>
                <input matInput placeholder="{{ myUser.password }}" formControlName="password">
            </mat-form-field>

            <br>

            <h2>Please select your traits: </h2>

            <div formGroupName="traits">

            <mat-checkbox indeterminate="false" color="primary" formControlName="focused" >Focused</mat-checkbox>
            <br>
            <mat-checkbox indeterminate="false" color="primary" formControlName="caring">Caring</mat-checkbox>
            <br>
            <mat-checkbox indeterminate="false" color="primary" formControlName="perfectionist" >Perfectionist</mat-checkbox>
            <br>
            <mat-checkbox indeterminate="false" color="primary" formControlName="courageous">Courageous</mat-checkbox>
            </div>
            <br>

            <h2>Gender: </h2>
            
            <mat-radio-group formControlName="gender">
                <mat-radio-button value="MALE">Male</mat-radio-button>
                <mat-radio-button value="FEMALE">Female</mat-radio-button>
                <mat-radio-button value="APACHE_HELICOPTER">Apache Helicopter</mat-radio-button>
            </mat-radio-group>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Submit</button>
        </form>
        </div>
    </div>